@function box-shadow-color($color){
  @return desaturate($color, 30%);
}

.cta{
  color: #FFF;
  padding: 1em 5em;
  border-radius: 30px;
  font-size: 1rem;
  letter-spacing: .75px;
  margin: .75rem;

  &--ios{
    background-color: $strong-cyan;
    box-shadow: -1px 6px 2px box-shadow-color($strong-cyan);
  }

  &--mac{
    background-color: $light-blue;
    box-shadow: -1px 6px 2px box-shadow-color($light-blue);
  }

  &:hover{
    opacity: .7;
  }

  @include breakpoint(medium){
    padding: 1em 2em;
    margin: 2em .5em;
  }
}


