.clipboard{
  text-align: center;
  padding-bottom: 3em;

  &__devices{
    max-width: 800px;

    @include breakpoint(large){
      max-width: 900px;
    }

    margin-top: 3rem;
  }

  & > .container{
    @include breakpoint(medium){
      max-width: 700px;
    }

    @include breakpoint(large){
      max-width: 750px;
    }

    @include breakpoint(extra-large){
      max-width: 950px;
    }
  }
}
