.footer{
  background-color: $gray;
  padding: 2rem 0;

  &__content{
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint(medium){
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__logo{
    width: 50px;

    @include breakpoint(medium){
      width: 75px;
    }

    @include breakpoint(large){
      width: 100px;
    }
  }

  &__nav{
    text-align: center;

    @include breakpoint(medium){
      text-align: left;

      display: flex;
      flex-wrap: wrap;

      max-width: 375px;
      margin-left: 2rem;
    }

    @include breakpoint(large){
      max-width: 575px;
    }

    li{
      margin: 1.5em 1em;

      @include breakpoint(medium){
        width: calc(100% / 3);
      }

      @include breakpoint(large){
        width: calc(100% / 4);
      }
    }
  }

  &__social{
    li{
      margin: 1em;
      display: inline;
    }

    img{
      width: 32px;
    }
  }
}

.attribution{
  text-align: center;
  margin-top: 3rem;
}
