.hero{
  text-align: center;
  padding: 7em 0;
  background: url("../images/bg-header-mobile.png") no-repeat;

  &__logo{
    margin-bottom: 1rem;
  }

  &__title{
    @include breakpoint(medium){
      font-size: 2.4rem;
    }
  }

  @include breakpoint(small){
    background: url("../images/bg-header-desktop.png") repeat-x;
  }
}

